{
  "extends": "react-app",
  "rules": {
    "sort-imports": ["error", {
        "ignoreCase": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "sort-keys": ["error"]
  }
}
